@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #400101;
}
/*headings and logo*/

h1, h2 {
    font-family: Merriweather, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #D93D04
}

#logo {
    float: left;
    font-size: 300%;
}

#list {
    letter-spacing: 3px;
    font-size: 100%;
}

#list li {
    list-style-type: none;
    margin-right: 20px;
    float: right;
}

#list a {
    color: inherit;
    text-decoration: none; /*remove default hyperlink style*/
}

#list, #logo{
    line-height: 80px;
}

#list a:hover {
    border-bottom: 2px solid #D93D04;
}
#list a:active {
    color: #838383
}

#hero-image {
  width: 100%;
  min-height: 580px;
  background: center no-repeat;
  background-size: cover;
  position: relative;
  padding: 80px 10px;
}

.content {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  padding: 80px 10px;
}

.div-content a {
    padding: 25px 10px;
    height: 50px;
    text-decoration: none;
}

.div-content {
    text-align: center;
    text-decoration: none;
}

.content-img {
  margin-top: 25px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.content-p {
  padding: 25px 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

.div-content h2 {
    height: 10px;
    padding: 25px 20px;
}

.grid-main {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

