@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}